name: Build

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: experimental-features = nix-command flakes

      - name: Restore Nix store
        id: nix-cache
        uses: nix-community/cache-nix-action/restore@v7
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}-

      - name: Run Nix flake check
        run: nix flake check

      - name: Build with Nix
        run: nix build

      - name: Save Nix store
        if: always()
        uses: nix-community/cache-nix-action/save@v7
        with:
          primary-key: ${{ steps.nix-cache.outputs.primary-key }}
          gc-max-store-size-linux: 5G
          purge: true
          purge-prefixes: nix-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: P7D
          purge-primary-key: never
